@charset "UTF-8";

@media screen and (min-width: 768px) {

    body, html {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    #login {
        width: 80vw;
    }

    #login > #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    #login #formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {

    body, html {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    #login {
        width: 920px;
    }
    
    #login > #imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    #login > #formulario {
        float: right;
        width: 50%;
    }
}